<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        .button{
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Welcome to the Home page.</h1>
    <h1>Hi, <%=name %>  </h1>
    <h2>Your have successfully sign in</h2>
    <form action="/logout" method="get">
        <button type="submit" class="button">Logout</button>
    </form>
    
</body>
</html>